.studentDashboard{
   
/* From https://css.glass */

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
/*backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
background-image:linear-gradient(rgba(255, 88, 33, 0.35),rgba(255, 88, 33, 0.35)), url("../../../public/dom-fou-YRMWVcdyhmI-unsplash\ \(1\).jpg");
background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  background-color: #2f2f31;
    height:100vh;
    width:20vw;
    color:white;
    position:sticky;
    position: -webkit-sticky;
    top:0;
}

.studentPicture{
    width:80px;
    height:80px;
    border-radius:50% 50% ;
    margin:0;
    border:4px solid rgb(114, 111, 111);
    margin-bottom: 5px;
}
.studentInfo{
    text-align: center;
}
.studentInfo p{
    margin:0px;
}
.dashboardLinks{
   
}
.dashboardLinks a{
    text-decoration: none;
    color:white;
    
}
.dashboardLinks p{
    margin: 7px 0px;
    padding:6px 5px;
    border-radius: 6px;
    font-size:15px;
}

.dashboardLinks p:hover{
    background-color:#f36c3f;
}

.options{
   display:none;
    position:relative;
}
/*etudiant*/
.studentContent{
    width:80vw;
}

@media (max-width:1015px){
    .studentDashboard{
        position:fixed;       
        left:0;
        right:0;
        width:250px;    
        z-index: 8;
        padding-top:15px;
    }
    .dashboardCross{
        color:#ff5821;
        position:absolute;
        top:1%;
        right:2%
    }
    .dashboardCross:hover{
        color:gray;
    }
    .studentContent{
        width:100vw;
    }
    .options{
        display: flex;
        margin-right:15px;
    }
   
}



/*navbar*/
.navHeaderElements{
  position:sticky;
  top:0;
   padding:5px 0px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background-color: white;
   z-index:4
}
.navHeaderElements a{
    text-decoration: none;
    color:black
}

.navHeaderElements a:hover{
    color:#FF5821;
}

/*EVOLUTION DOSSIER DE SOUTENANCE*/

.ant-steps-vertical>.ant-steps-item .ant-steps-item-icon{
    border:1px solid #FF5821 !important;
    
   
}
.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon,
.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail:after,
.depotDossier .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot,
.depotDossier .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon .ant-steps-icon-dot
{
    background: #FF5821 !important;
}

.evolution .anticon svg,.fileUpload .anticon svg{
    color:#FF5821  !important;
    transform:scale(1.2)  !important;
    margin-bottom: 8px  !important;
    
}

/*profilEtudiant*/
.ModifiedProfileImg img{
    height:80px;
    width:80px;
}

.profileBlockInfo p{
    margin:10px 0px;
    font-weight: 500;
    font-size:15px;
}

/*depot dossier*/
.step h2{
    font-size: 20px;
    font-weight: 495;
    text-align:center;
}

.warning{
color:rgb(218, 57, 57);
text-align: center;
font-size:18px;
}

.stepFile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px 5px;
    text-align: center;
}
.stepFile p{
    font-weight: bold;
    margin-top:3px;
    word-break: break-all;
    flex-wrap: nowrap;
    padding:0px 4px;
    
}


.ant-btn-primary{
    background-color: #FF5821 !important;
    border:1px solid #FF5821 !important;
}
.ant-btn-primary:hover{
    background-color: #ee8d6d !important;
}

