.table-soutenance-programe{
    /* border: 1px solid black; */
    padding: 5px 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-top: 3rem;
}
.infos-box{
    height: 10rem;
    background-color: white;
    margin: 5px;
    position: relative;
    border-radius: 35px 2px 3px 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.icon-box{
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: wheat;
    top: 0;
    left: 0;
}
.icon-container{
    font-size: 2rem;
margin-top: -1rem;
color: white;
}
.soutenance-text{
    align-items: right;
    text-align: right;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0,0.8);
}
.nombre{
    margin-top: 2rem;
    font-size: 2rem;
}
.bg-vert{
    background: linear-gradient(45deg, rgba(0, 128, 0,0.6),rgb(0, 128, 0) );
}
.bg-rouge{
    background: linear-gradient(45deg, rgba(255, 0, 0,0.6),rgb(255, 0, 0));
}

/* Css pour la table d'emplois de temps  */
table{
    margin-top: 2rem;
    
    width: 100%;}
    .tableau-style{
        border-collapse: collapse;
  cursor: pointer;
  border: 2px solid var(--third-color);
  font-family: "Open Sans", sans-serif;
    }
    .tableau-style td{
        padding: 5px;

    }
    tr{
        border-bottom: 1px solid rgba(0, 0, 0,0.1);
        cursor: pointer;
        /* background: rebeccapurple; */
        
    }
    tr:nth-child(even){
        background-color: rgba(0, 0, 0,0.05);
    }
    .ligne-tableau{
        /* border-top: 1px solid rgba(0, 0, 0,0.2); */


    }
    tr:hover{
        transition: all 0.1s ease-in;
        /* margin-top: 82px; */
        background: rgba(0, 0, 0,0.01) ;
    }
    .photo-box{
        position: relative;
        width:10% ;
    }
    .nom-box{
        position: relative;
        width: 15%;
    }
    .matricule-box{
        position: relative;
        width: 15%;
    }
    .encardreur-box{
        position: relative;
        width: 15%;
    }
    .expert-box{
        position: relative;
        width: 15%;
    }
    .coordo-box{
        position: relative;
        width: 15%;
    }
    .programe-box{
        position: relative;
        width:25% ;
        display: flex;
        /* justify-content: center;
        align-items: center; */
    }
    .icon-poubelle{
        font-size: 1.5rem;
        color: red;
    }
    .icon-poubelle:hover{
        margin-top: 2px;
        cursor: pointer;
    }
    .programe-btn{
        border: none;
        border-radius: 2px;
        background: #ff5821;
        margin-top: 0.5rem;
        color: white;
        margin-left: 5px;
        font-size: 0.8rem;
    }
    .programe-btn:hover{
        opacity: 0.9;
    }

    /*  Stylisation de ce qui est dans le popup */
    .btn-pupop-container{
        margin-top: 15px;
    }
    .btn-pupop-container i{
        font-size: 1.2rem;
    }
    .popup-btn{
        border: none;
        border-radius: 3px;
        color: white;
        margin-right: 10px;
    }
    .popup-text p{
        font-size: 1rem;
    }
    .popup-input-box{
        width: 100%;
        border-bottom: 1px solid black;
    }
    .popup-input{
        width: 100%;
        border: none;
        outline: none;
    }
    .popup-input ::placeholder{
        color: red;
    }
.icon-box-table{
    height:70px;
    width: 70px;
    background:linear-gradient(45deg , rgba(255, 88, 33,0.7) ,#ff5821);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.icon-box-table i{
    font-size: 1.7rem;
    color: white;
}
.header-table-programme{
    display: flex;
    justify-content: left;
}
.header-table-programme p{
    margin: -5px 5px 5px 5px;
    font-size: 1rem;
    color: rgba(0, 0, 0,0.8);
}
