.notification-item{
    min-height: 60px;
     background-color: rgba(0, 0, 0,0.1);
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin: 10px 0px 10px 0px;
     padding: 5px 10px;
     border-radius: 10px;
 }
 .lu-notifications{
     position: relative
     ;
     width: 100%;
 
 }
 .btn-lu{
     border-radius: 10px;
     outline: none;
     border: none;
     color: white;
     background-color: rgba(255, 88, 33,0.9)  ;  height: 40px;
     margin-top: 4px;
 
 }
 .ligne{
     position: relative;
     width: 95%;
     font-size: 30px;
     font-weight: bold;
     margin-top: 10px;
 }
 .btn-container button{
     margin: 10px;
     outline: none;
     border: none;
     border-radius: 10px;
     height: 40px;
 }
 .delete-notification-btn{
     border-radius: 10px;
 margin-right: 5px;}
 .delete-icon{
     font-size: 1.4rem;
 }