.input-box{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px 10px;

}
.input-box input{
    height: 40px;
    border-radius: 10px;
    padding: 5px 10px;
   
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    
}
label{
    margin: 10px 0px 10px 0px;
    font-size: 1.2rem;
    
}
.container-btn-edit-or-annul button{
/* margin-left: 10px; */
}
.iconn{
    color: white;
    font-size: 1.4rem;
    margin-right: 10px;
}